.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.title_Name {
  font-size: 1rem;
}
.title_Name .title_subbar {
  font-size: 0.6rem;
  background-image: linear-gradient(to right, orangered 50%, green 100%);
}
.server_status {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.console_box {
  width: 80%;
  height: 40vh;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  color: #333;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.console_box li {
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 5px 0px;
  border-bottom: 1px solid rgba(255, 69, 0, .3);
}
.infoTips {
  color: orangered;
}
.errTips {
  color: red;
}
.commonTips {
  color: lightseagreen;
}